.articles {
    list-style: none;
    display: flex;
}

.categories {
    list-style: none;
    display: flex;
}

.article {
    width: 150px;
}

.article:nth-child(odd) div{
    background-color: #CECECE;
}

.article:nth-child(even) div{
    background-color: white;
}

.article div {
    width: 80%;
    height: 150px;
    font-size: 14px;
}

.article a {
    text-decoration: none;
    color: black;
}